* {
/*CSS - reset allows us to 0 the margins and paddings of all elements to remove the default margins and paddings set by the browser. This allows more control over the margin and paddings for developers.*/
	margin: 0;
	padding: 0;
/*By default, our CSS boxes adds the padding and border on top of the height
  and width.

	box-sizing:  content-box;

	However, the issue to this, is that the computation of the height and width are not very accurate because padding and border on top of the height and width, therefore increasing the actual height and width of our element.

	calculating box1 width with content-box: ;

	5px border-left + 3px padding-left + 100px width of content-box + 20px padding-right + 10px border-right = 138px actual width

	box-sizing:  border-box;

	Allows us more control of the measurements of our elements.
		-Padding and border are now accounted for and added to the overall width of the element. 

	5px border-left + 3px padding-left +62px content + 20px padding-right + 10px border-right = 100px width
*/

	box-sizing: border-box;

}


#box1 {
	background-color: red;

/*margin is space generated outside of an element*/
/*margin:  10px*/

	margin: 10px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 40px;

/*border is the line between the margin and the padding*/
/*border: 2px solid black*/

	border-top: 2px solid black;
	border-left: 5px solid green;
	border-right: 10px solid orange;
	border-bottom: 2px solid black;


/*padding is space generated within the border/inside your element.*/
/*padding:  10px*/

	padding-top: 5px;
	padding-left: 3px;
	padding-right: 20px;
	padding-bottom: 30px;



	height: 100px;
	width: 100px;
}




#box2 {
	background-color: orange;
	border: 2px solid black;
	height: 100px;
	width: 100px;
}


#box3 {
/*
	Block elements like div, headings, section, main, paragraph break the line. Block elemetns, if not set with a definiteheight width, will occupy the full width of their parents.

		You can set the width of our block elements.
*/

	background-color: green;
	border:2px solid black;
	width: 100px;
}

#span1 {

	/*Inline leements like span, a, img, etc. does not break the line and are
	  presented side by side. Inline leements only occupy space based on the overall size of its content. In fact, you cannot set its height and width.*/
	
	  /*Inline-block elements are displayed side by side like inline elements. However, we an set the width and height for our inline-block elements.*/


	background-color: purple;
	border: 2px solid black;
	/*you cannot set the height and width for inline.*/
	height: 100px;
	width: 100px;
	display: inline-block;
	/*margin was only displayed on the right and left side*/
	/*margin: 20px;*/
	/*padding: 30px;*/
	/*padding is only displayed properly on the right and left side.*/
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: top;
	

}

#span2 {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	background-color: yellow;
	border: 2px solid black;
}

#box4 {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	background-color: pink;
	border: 2px solid black;
}









